<div class="page-content">
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <app-settings-card
        iconUrl="assets/icones/person-ic.svg"
        title="Usuário"
        url="/user"
      ></app-settings-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-settings-card
        iconUrl="assets/icones/setting-sp-ic.svg"
        title="Criar Pedido"
        url="/stock/new"
      ></app-settings-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-settings-card
        iconUrl="assets/icones/justify-ic.svg"
        title="Justificativas"
        url="/settings"
      ></app-settings-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-settings-card
        iconUrl="assets/icones/tools-ic.svg"
        title="Equipamentos"
        url="/settings"
      ></app-settings-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
