a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover, a:active {
  color: lightgray;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
  color: #FFFFFF;
}

mat-icon {
  color: #FFFFFF;
}
