<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Inicio</span>
  </a>
  <a mat-list-item routerLink="/stock" (click)="onSidenavClose()">
    <mat-icon>widgets</mat-icon>
    <span class="nav-caption">Atendimento de linha</span>
  </a>
  <a mat-list-item routerLink="settings" (click)="onSidenavClose()">
    <mat-icon>settings</mat-icon>
    <span class="nav-caption">Configuraçöes</span>
  </a>
  <a mat-list-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="nav-caption">Sair</span>
  </a>
</mat-nav-list>
