<mat-toolbar>
  <div fxFlex fxLayout fxLayoutAlign="start">
    <button mat-icon-button *ngIf="hideMenuButton()" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!hideMenuButton()" (click)="back()">
      <mat-icon>keyboard_return</mat-icon>
    </button>
  </div>
  <div>
    <a *ngIf="isHome()">Inicio</a>
    <a *ngIf="isStockOperation()">Atentimento de linha</a>
    <a *ngIf="isStockConcluded()">Atentimentos concluidos</a>
    <a *ngIf="isSettings()">Configurações</a>
    <a *ngIf="isStockForm()">Criação manual de pedido</a>
    <a *ngIf="isStockView()">Visualização de pedido</a>
    <a *ngIf="isUser()">Usuário</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end">
    <button mat-icon-button *ngIf="isStockOperation()" (click)="refreshPage()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</mat-toolbar>
