.page-content {
  min-height: 90vh;
  height: auto;
  margin: 0;
}

.stock-card-container {
  padding: 0;
}

.row {
  margin: 0;
}

.page-description {
  margin: 1rem;
  color: #6B90E0;
}

.notFound {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
