.page-content {
  min-height: 89vh;
  height: auto;
  margin: 0;
}

p {
  margin: 0;
  font-size: 12px;
}

row {
  margin: 0;
}

button {
  width: 100%;
  color: #FFFFFF;
}

.btn-found {
  background-color: #C6C6C6;
}

.btn-acept {
  background-color: #6B90E0;
}
